<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">algo.slides.in.ua</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ms-auto">
                {% if not user.is_anonymous %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Log out [{{ user.username }}]</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link fw-bold link-warning" href="#">Авторизація</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Забули пароль?</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>